<script lang="ts" setup>
import { nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'
// import type { User } from '@/types/User'
import type { Promotion } from '@/type/Promotion'
import http from '@/services/http'
import { useLoadingStore } from '@/stores/loading'
// import userService from '@/services/user'
import promotionService from '@/services/promotion'
// import { useUserStore } from '@/stores/user'
import { usePromotionStore } from '@/stores/promotion'
const promotionStore = usePromotionStore()

const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Condition',
    key: 'condition',
    value: 'condition'
  },
  {
    title: 'StartDate',
    key: 'startDate',
    value: 'startDate'
  },
  {
    title: 'EndDate',
    key: 'endDate',
    value: 'endDate'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]
const loadingStore = useLoadingStore()
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)
const initilPromotion: Promotion = {
  id: -1,
  condition: '',
  startDate: new Date(),
  endDate: new Date()
}
const editedPromotion = ref<Promotion>(JSON.parse(JSON.stringify(initilPromotion)))

let editedIndex = -1
let lastId = 4
function onSubmit() {}

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    editedPromotion.value = Object.assign({}, initilPromotion)
  })
}
async function deleteItemConfirm() {
  // Delete item from list
  closeDelete()
  await promotionStore.deletePromotion(editedPromotion.value)
}
function editItem(item: Promotion) {
  editedPromotion.value = Object.assign({}, item)
  dialog.value = true
}
function deleteItem(item: Promotion) {
  editedPromotion.value = Object.assign({}, item)
  dialogDelete.value = true
  editedIndex = -1
}
function closeDialog() {
  dialog.value = false
  nextTick(() => {
    editedPromotion.value = Object.assign({}, initilPromotion)
    editedIndex = -1
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  closeDialog()
  await promotionStore.savePromotion(editedPromotion.value)
}

onMounted(() => {
  promotionStore.getPromotions()
})
</script>
<template>
  <div max-width="2000px" max-height="720px" class="BG-img">
    <v-container>
      <v-row>
        <v-col style="background-color: #d4ccc4">
          <v-sheet max-width="100%" max-height="100%" elevation="6">
            <v-data-table :headers="headers" :items="promotionStore.promotions">
              <template v-slot:top>
                <v-toolbar flat>
                  <v-toolbar-title>Promotion</v-toolbar-title>
                  <v-divider class="mx-4" inset vertical></v-divider>
                  <v-spacer></v-spacer>
                  <!-- Put Edited Dialog -->

                  <v-dialog v-model="dialog" persistent width="1024">
                    <template v-slot:activator="{ props }">
                      <v-btn color="primary" v-bind="props"> New Promotion </v-btn>
                    </template>
                    <v-card>
                      <v-card-title>
                        <span class="text-h5">Promotion</span>
                      </v-card-title>
                      <v-card-text>
                        <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                          <v-container>
                            <v-row>
                              <v-col cols="12" sm="12" md="4">
                                <v-text-field
                                  v-model="editedPromotion.condition"
                                  :readonly="loading"
                                  :rules="[(v) => !!v || 'Field is required']"
                                  class="mb-2"
                                  clearable
                                  label="codition"
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="12" md="4">
                                <v-text-field
                                  v-model="editedPromotion.startDate"
                                  :readonly="loading"
                                  :rules="[(v) => !!v || 'Field is required']"
                                  class="mb-2"
                                  clearable
                                  label="startDate"
                                  placeholder="startDate"
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="12" md="4">
                                <v-text-field
                                  v-model="editedPromotion.endDate"
                                  :readonly="loading"
                                  :rules="[(v) => !!v || 'Field is required']"
                                  clearable
                                  label="endtDate"
                                  placeholder="endtDate"
                                ></v-text-field>
                              </v-col>
                            </v-row>
                          </v-container>
                        </v-form>
                        <small>*indicates required field</small>
                      </v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue-darken-1" variant="text" @click="closeDialog()">
                          Close
                        </v-btn>
                        <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>

                  <!-- Delete Dialog-->
                  <v-dialog v-model="dialogDelete" max-width="500px">
                    <v-card>
                      <v-card-title class="text-h5"
                        >Are you sure you want to delete this item?</v-card-title
                      >
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue-darken-1" variant="text" @click="closeDelete"
                          >Cancel</v-btn
                        >
                        <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm"
                          >OK</v-btn
                        >
                        <v-spacer></v-spacer>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-toolbar>
              </template>
              <template v-slot:[`item.actions`]="{ item }">
                <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
                <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
              </template>
              <template v-slot:no-data>
                <v-btn color="primary" @click="promotionStore.getPromotions()"> Reset </v-btn>
              </template>
            </v-data-table>
          </v-sheet>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<style scoped>
.BG-img {
  width: 100vw;
  height: 100vh;
  background-image: url('/Photo/logo/background-pos.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
