<script lang="ts" setup>
import { nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'
// import type { User } from '@/types/User'
import type { Branch } from '@/type/Branch'
import http from '@/services/http'
import { useLoadingStore } from '@/stores/loading'
// import userService from '@/services/user'
import branchService from '@/services/branch'
// import { useUserStore } from '@/stores/user'
import { useBranchStore } from '@/stores/branch'
import { useStatusStore } from '@/stores/status'
const branchStore = useBranchStore()
const statusStore = useStatusStore()

const headers = [
  {
    title: 'Address',
    key: 'address',
    value: 'address'
  },
  {
    title: 'Status',
    key: 'status',
    value: (item: any | Branch) => item.status.name
  },
  { title: 'Actions', key: 'actions', sortable: false }
]
const loadingStore = useLoadingStore()
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)

let editedIndex = -1
let lastId = 4
function onSubmit() {}

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    branchStore.editedBranch = Object.assign({}, branchStore.initilBranch)
  })
}
async function deleteItemConfirm() {
  // Delete item from list
  closeDelete()
  await branchStore.deleteBranch(branchStore.editedBranch)
}
function editItem(item: Branch) {
  branchStore.editedBranch = Object.assign({}, item)
  dialog.value = true
}
function deleteItem(item: Branch) {
  branchStore.editedBranch = Object.assign({}, item)
  dialogDelete.value = true
  editedIndex = -1
}
function closeDialog() {
  dialog.value = false
  nextTick(() => {
    branchStore.editedBranch = Object.assign({}, branchStore.initilBranch)
    editedIndex = -1
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  closeDialog()
  await branchStore.saveBranch(branchStore.editedBranch)
}

onMounted(() => {
  branchStore.getBranchs()
  statusStore.getStatuss()
})
</script>
<template>
  <div>
    <v-data-table :headers="headers" :items="branchStore.branchs">
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Branch</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <!-- Put Edited Dialog -->

          <v-dialog v-model="dialog" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-btn color="primary" v-bind="props"> New Branch </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">Branch</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="branchStore.editedBranch.address"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Address"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-combobox
                          v-model="branchStore.editedBranch.status"
                          :items="statusStore.status"
                          label="Status"
                          class="mb-2"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          item-title="name"
                          item-id="address"
                          :return-object="true"
                        ></v-combobox>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
                <small>*indicates required field</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDialog()"> Close </v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <!-- Delete Dialog-->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="branchStore.getBranchs()"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
</template>
