<script setup lang="ts">
//import { useCalculateStore } from '@/stores/calculate';
//import type { ReceiptItem } from '@/type/ReceiptItem';
import { ref } from 'vue'
import { useCalculateStore } from '@/stores/calculate'
import { useReceiptIngStore } from '@/stores/receiptIng'

const calculateStore = useCalculateStore()
const receieveMoney = ref<number>(0)
const receiptIngStore = useReceiptIngStore()

function saveDialog(Money: number) {
  calculateStore.save(Money)
  calculateStore.cashDialog = false
}
</script>

<template>
  <v-dialog v-model="calculateStore.cashDialog" persistent width="auto">
    <v-card>
      <v-card-title class="text-h5"> Received Amount </v-card-title>

      <v-card-text>
        <div>
          <div style="text-align: center">
            <v-text-field label="Enter something" v-model="receieveMoney"> </v-text-field>
          </div>
        </div>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green-darken-1" variant="text" @click="calculateStore.cashDialog = false">
          ปิด
        </v-btn>
        <v-btn color="green-darken-1" variant="text" @click="saveDialog(receieveMoney)">
          บันทึก
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>