<script setup lang="ts">
import { usePosStore } from '@/stores/pos';
import { useProductStore } from '@/stores/product';
import { getImageUrl, type Product } from '@/type/Product'
import { computed } from 'vue'

const props = defineProps<{
  product: Product
}>()

const emit = defineEmits<{
  selectedProduct: [Product] // selectedProduct(Product p)
}>()

const selected = function () {
  console.log('Card', props.product)
  emit('selectedProduct', props.product)
}
const posStore = usePosStore()
const isMoblie = computed(() => {
  // Add logic to determine if the screen is in mobile view
  // You can use window.innerWidth or any other method
  return window.innerWidth < 400 // Adjust the breakpoint as needed
})
const cardWidth = computed(() => (isMoblie.value ? '200px' : '200px'))
const cardHeight = computed(() => (isMoblie.value ? '170px' : 'auto'))
</script>

<template>
  <div
    :class="{ 'col-12': !isMoblie, 'col-md-6': isMoblie }"
    v-if="posStore.products1"
    cols="12"
    md="6"
  >
    <v-card
      :style="{ width: cardWidth, height: cardHeight }"
      elevation="3"
      @click="selected"
      class="text-center"
      rounded="lg"
    >
      <v-img :src="getImageUrl(product)" height="170px" width="200px" cover></v-img>
      <div style="text-align: center">
        {{ product.name }} <br />
        {{ product.price }} บาท
      </div>
    </v-card>
  </div>
  <div
    :class="{ 'col-12': !isMoblie, 'col-md-6': isMoblie }"
    v-else-if="posStore.products2"
    cols="12"
    md="6"
  >
    <v-card
      :style="{ width: cardWidth, height: cardHeight }"
      elevation="3"
      @click="selected"
      class="text-center"
      rounded="lg"
    >
      <v-img :src="`./Img/Dessert/Dessert${product.id}.jpg`" height="auto" cover></v-img>
      <div style="text-align: center">
        {{ product.name }} <br />
        {{ product.price }} บาท
      </div>
    </v-card>
  </div>

  <div
    :class="{ 'col-12': !isMoblie, 'col-md-6': isMoblie }"
    v-else-if="posStore.products3"
    cols="12"
    md="6"
  >
    <v-card
      :style="{ width: cardWidth, height: cardHeight }"
      elevation="3"
      @click="selected"
      class="text-center"
      rounded="lg"
    >
      <v-img :src="`./Img/Food/Food${product.id}.jpg`" height="auto" cover></v-img>
      <div style="text-align: center">
        {{ product.name }} <br />
        {{ product.price }} บาท
      </div>
    </v-card>
  </div>
</template>
