<script setup lang="ts">
import { useMemberStore } from '@/stores/member'
import { useCalculateStore } from '@/stores/calculate'
import { useReceiptIngStore } from '@/stores/receiptIng'
import type { ReceiptItem } from '@/type/ReceiptItem'
import { ref } from 'vue'
const receiptIng = useReceiptIngStore()
const calculateStore = useCalculateStore()
const memberStore = useMemberStore()


</script>

<template>
  <v-dialog v-model="calculateStore.receiptDialog" persistent width="400px" height="auto">
    <v-card>
      <v-card-title class="text-h5"> Receipt </v-card-title>

      <v-card-text>
        <div>
          <div style="text-align: center">
            <v-row justify="center" style="font-size: 25px">
              ID: {{ calculateStore.receiptPos?.id }}
            </v-row>
          </div>

          <v-row>
            <v-col> </v-col>
            <v-col style="text-align: left">
              Date: {{ calculateStore.receiptPos?.createdDate }}<br />
              Member: <br />
              User: <br />

              รายการ<br />

              <v-table>
                <thead>
                  <tr>
                    <th class="text-left">Name</th>
                    <th class="text-left">Price</th>
                    <th class="text-left">Unit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in calculateStore.receiptItems" :key="item.id">
                    <td>{{ item.name }}</td>
                    <td>{{ item.unit }}</td>

                    <td>{{ item.price }}</td>
                  </tr>
                </tbody>
                <br />
              </v-table>

              จำนวน: {{ calculateStore.receiptPos?.totalAmount }}<br />
              จำนวนเงินที่ได้รับ: {{ calculateStore.receiptPos?.receivedAmount }}<br />
              ยอดเงินรวม: {{ calculateStore.receiptPos?.total }}<br />
              ส่วนลดสมาชิก: {{ calculateStore.receiptPos?.memberDiscount }}<br />
              ยอดสุทธิ: {{ calculateStore.receiptPos?.total }}<br />
              เงินทอน: {{ calculateStore.receiptPos?.change }}<br />
              ประเภทการจ่ายเงิน: {{ calculateStore?.receiptPos?.paymentType }}<br />
            </v-col>
            <v-col> </v-col>
          </v-row>
        </div>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green-darken-1" variant="text" @click="calculateStore.receiptDialog = false">
          ปิด
        </v-btn>
        <v-btn
          color="green-darken-1"
          variant="text"
          @click="
            () => {
              // calculateStore.save()
              calculateStore.order()
              calculateStore.receiptDialog = false
              calculateStore.clear()
              memberStore.clearCurrentMember()
            }
          "
        >
          บันทึก
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>