<script setup lang="ts">
import { useCalculateStore } from '@/stores/calculate'

const calculateStore = useCalculateStore()
const resultSearch = JSON.stringify(calculateStore.receiptItems)
</script>

<template>
  <v-dialog v-model="calculateStore.searchDialog" persistent width="auto">
    <v-card>
      <v-card-title class="text-h5"> Result of search </v-card-title>

      <v-card-text>{{ resultSearch }}</v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <!-- <v-btn color="green-darken-1" variant="text" @click="calculateStore.searchDialog = false">
                    ปิด
                </v-btn> -->
        <v-btn
          color="green-darken-1"
          variant="text"
          @click="
            () => {
              calculateStore.searchDialog = false
            }
          "
        >
          ปิด
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>