<script setup lang="ts">
import { useReceiptIngStore } from '@/stores/receiptIng'
import type { ReceiptItemIng } from '@/type/ReceiptItemIng'
import { ref } from 'vue'

const receiptIngStore = useReceiptIngStore()
</script>

<template>
  <v-dialog v-model="receiptIngStore.receiptIngDialog" persistent width="auto">
    <v-card>
      <v-card-title class="text-h5"> Receipt </v-card-title>

      <v-card-text>
        <div>
          <div style="text-align: center">
            <v-row align="center" justify="center" style="font-size: 25px">
              ID: {{ receiptIngStore.receiptIng?.id }}
            </v-row>
          </div>

          <v-row>
            <v-col> </v-col>
            <v-col style="text-align: left">
              Date: {{ receiptIngStore.receiptIng?.createdDate }}<br />
              <!-- Member: <br>
                            User: <br><br><br> -->

              รายการ<br />
              <v-table>
                <thead>
                  <tr>
                    <th class="text-left">Name</th>
                    <th class="text-left">Acc</th>
                    <th class="text-left">Price</th>
                    <th class="text-left">QTY</th>
                    <th class="text-left">Unit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in receiptIngStore.receiptItemsIngredient" :key="item.id">
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.price * item.qty }}</td>
                    <td>{{ item.qty }}</td>
                    <td>{{ item.unit }}</td>
                  </tr>
                </tbody>
                <br />
              </v-table>

              จำนวน: {{ receiptIngStore.receiptIng?.totalAmount }}<br />
              ยอดเงินรวม: {{ receiptIngStore.receiptIng?.totalBefore }}<br />
              ยอดสุทธิ: {{ receiptIngStore.receiptIng?.total }}<br />
              ประเภทการจ่ายเงิน: {{ receiptIngStore.receiptIng?.paymentType }}<br />
            </v-col>
            <v-col> </v-col>
          </v-row>
        </div>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="green-darken-1"
          variant="text"
          @click="receiptIngStore.receiptIngDialog = false"
        >
          ปิด
        </v-btn>
        <v-btn
          color="green-darken-1"
          variant="text"
          @click="
            () => {
              receiptIngStore.receiptIngDialog = false
              receiptIngStore.order()
              receiptIngStore.initReceipt()
            }
          "
        >
          บันทึก
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
