<script setup lang="ts">
import { useRouter } from 'vue-router'
import { ref, onMounted } from 'vue'
import type { RouteLocationNormalizedLoaded } from 'vue-router'
import router from '@/router'
import { provide } from 'vue'
import PurchaseOrder from './CheckStock/PurchaseOrder.vue'
import { useCheck } from '@/stores/check'
import { useDetailCheckStore } from '@/stores/DetailCheck'
import DetailCheckStockView from './POS/DetailCheckStockView.vue'

const dialog = ref(false)
provide('PurchaseDialog', dialog)
const ingredients = ref<Ingredient[]>([
  { id: 1, name: 'ผงชาเขียว', inStock: 5, Maximum: 10, Unit: 'กิโลกรัม' },
  { id: 2, name: 'ผงโกโก้', inStock: 5, Maximum: 10, Unit: 'กิโลกรัม' },
  { id: 3, name: 'น้ำตาล', inStock: 5, Maximum: 10, Unit: 'กิโลกรัม' },
  { id: 4, name: 'นมข้น', inStock: 5, Maximum: 10, Unit: 'กิโลกรัม' }
])
const checkStore = useCheck()
onMounted(() => {
  // ดึงข้อมูลจากพารามิเตอร์คิวรี
  const route = router.currentRoute.value as RouteLocationNormalizedLoaded
  if (route.query && route.query.ingredients) {
    ingredients.value = JSON.parse(route.query.ingredients as string)
  }
})

const showPurchase = function () {
  dialog.value = true
}

type Ingredient = {
  id: number
  name: string
  inStock: number
  Maximum: Number
  Unit: string
}

type DataTableItem = {
  date: string
  details: string
}

const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id',
    filter: true
  },
  {
    title: 'Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Instock',
    key: 'inStock',
    value: 'inStock'
  },
  {
    title: 'Maximum ',
    key: 'Maximum',
    value: 'Maximum'
  },
  {
    title: 'Unit',
    key: 'Unit',
    value: 'Unit'
  }
]

const dataTableItems = ref<DataTableItem[]>([
  { date: '01/01/2024', details: '' }

  // เพิ่มรายการตามต้องกา
])

const DetailCheckStore = useDetailCheckStore()

function naviInStore() {
  router.push('/ingStore')
}
function naviIPurchase() {
  router.push('/purchase')
}

function naviInCheckStock() {
  router.push('/check')
}

function detailCheckStock() {
  router.push('/detailcheckStock')
}

function editDetails(item: DataTableItem) {
  console.log(`Editing details for ${item.date}`)
}
</script>

<template>
  <div class="BG-img">
    <v-container>
      <v-row>
        <v-col cols="12" md="6" style="background-color: #e0e0e0">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-sheet min-width="500" max-width="1000" height="900" elevation="6">
                  <DetailCheckStockView></DetailCheckStockView>
                </v-sheet>
              </v-col>
            </v-row>
          </v-container>
        </v-col>

        <v-col cols="12" md="6" style="background-color: #e0e0e0">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-sheet min-width="500" max-width="1000" height="790" elevation="6">
                  <div>
                    <v-data-table-virtual
                      :headers="headers"
                      :items="checkStore.ingredients"
                      height="300"
                      item-value="name"
                    >
                      <template v-slot:top>
                        <v-toolbar flat>
                          <v-toolbar-title class="text-center">Current stock</v-toolbar-title>
                        </v-toolbar>
                      </template>
                    </v-data-table-virtual>
                  </div>
                  <br /><br /><br /><br />
                  <br />
                  <br />
                  <br /><br /><br /><br /><br /><br />

                  <v-row justify="center">
                    <v-btn color="primary" size="x-large" @click="naviInCheckStock()"
                      >checkStock</v-btn
                    >
                  </v-row>
                </v-sheet>
              </v-col>

              <v-col cols="12">
                <v-sheet min-width="500" max-width="1000" height="98" elevation="6">
                  <v-row justify="space-evenly">
                    <v-col cols="12" sm="6" md="4" class="mt-4">
                      <v-btn
                        block
                        rounded="xl"
                        size="large"
                        prepend-icon="mdi-note-edit"
                        color="#778899"
                        @click="showPurchase()"
                        >ใบสั่งซื้อสิ้นค้า</v-btn
                      >
                    </v-col>
                    <v-col cols="12" sm="6" md="4" class="mt-4">
                      <v-btn
                        block
                        rounded="xl"
                        size="large"
                        prepend-icon="mdi-store"
                        color="green"
                        @click="naviInStore()"
                        >ร้านค้าวัตถุดิบ</v-btn
                      >
                    </v-col>
                  </v-row>
                </v-sheet>
              </v-col>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
    </v-container>

    <PurchaseOrder></PurchaseOrder>
  </div>
</template>
<style scoped>
.BG-img {
  width: 100vw;
  height: 100vh;
  background-image: url('/Photo/logo/background-pos.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
