<script setup lang="ts">
import { nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'
import type { User } from '@/type/User'
import { useLoadingStore } from '@/stores/loading'
import { useUserStore } from '@/stores/user'
import { useRoleStore } from '@/stores/role'

const userStore = useUserStore()
const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Photo',
    key: 'image',
  },
  {
    title: 'Email',
    key: 'email',
    value: 'email'
  },
  {
    title: 'Name',
    key: 'fullName',
    value: 'fullName'
  },
  {
    title: 'Position',
    key: 'roles',
    value: (item: any | User) => item.roles.map((r: any) => r.name).join(', ')
  },

  {
    title: 'Tel',
    key: 'tel',
    value: 'tel'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]
const loadingStore = useLoadingStore()
const roleStore = useRoleStore()
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)

function onSubmit() {}

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    userStore.clearForm()
  })
}
async function deleteItemConfirm() {
  // Delete item from list
  await userStore.deleteUser()
  closeDelete()
}
async function editItem(item: User) {
  await userStore.getUser(item.id!)
  dialog.value = true
}
async function deleteItem(item: User) {
  await userStore.getUser(item.id!)
  dialogDelete.value = true
}
function closeDialog() {
  dialog.value = false
  nextTick(() => {
    userStore.clearForm()
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  await userStore.saveUser()
  closeDialog()
}
onMounted(async () => {
  await userStore.getUsers()
  await roleStore.getRoles()
})
// const formatDate = (date: Date) => {
//     const options: Intl.DateTimeFormatOptions = {
//         year: 'numeric',
//         month: '2-digit',
//         day: '2-digit',
//     };
//     return new Intl.DateTimeFormat('en-US', options).format(date);
// };
</script>

<template>
  <div max-width="1280px" max-height="720px" class="BG-img">
    <v-container>
      <v-row>
        <v-col style="background-color: #d4ccc4">
          <v-sheet max-width="100%" max-height="100%" elevation="6">
            <div>
              <v-data-table-virtual
                :headers="headers"
                :items="userStore.users"
                height="500"
                item-value="name"
              >
                <template v-slot:top>
                  <v-toolbar flat>
                    <v-toolbar-title class="text-center">User</v-toolbar-title>
                    <v-dialog v-model="dialog" persistent width="1024">
                      <template v-slot:activator="{ props }">
                        <v-btn color="primary" v-bind="props"> NEW User </v-btn>
                      </template>
                      <v-card>
                        <v-card-title>
                          <span class="text-h5">User</span>
                        </v-card-title>
                        <v-card-text>
                          <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                            <v-container>
                              <v-row>
                                <v-col cols="12" sm="12" md="6">
                                  <v-text-field
                                    v-model="userStore.editedUser.email"
                                    :readonly="loading"
                                    :rules="[(v) => !!v || 'Field is required']"
                                    class="mb-2"
                                    clearable
                                    label="Email"
                                  ></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="12" md="6">
                                  <v-text-field
                                    v-model="userStore.editedUser.fullName"
                                    :readonly="loading"
                                    :rules="[(v) => !!v || 'Field is required']"
                                    class="mb-2"
                                    clearable
                                    label="Name"
                                  ></v-text-field>
                                </v-col>

                                <v-col cols="12" sm="12" md="6">
                                  <v-text-field
                                    v-model="userStore.editedUser.password"
                                    :readonly="loading"
                                    :rules="[(v) => !!v || 'Field is required']"
                                    class="mb-2"
                                    clearable
                                    label="Password"
                                  ></v-text-field>
                                </v-col>

                                <v-col cols="12" sm="12" md="6">
                                  <v-text-field
                                    v-model="userStore.editedUser.tel"
                                    :readonly="loading"
                                    :rules="[(v) => !!v || 'Field is required']"
                                    clearable
                                    label="Tel"
                                  ></v-text-field>
                                </v-col>

                                <v-col cols="12" sm="12" md="6">
                                  <v-combobox
                                    v-model="userStore.editedUser.roles"
                                    :items="roleStore.roles"
                                    label="Select roles"
                                    multiple
                                    item-title="name"
                                    item-value="id"
                                    :return-object="true"
                                  ></v-combobox>
                                </v-col>

                                <v-col cols="12" sm="12" md="4">
                                  <v-img :src="'http://localhost:3000/images/users/' + userStore.editedUser.image" width="200" height="200"></v-img>
                                </v-col>
                                <v-col cols="12" sm="12" md="4">
                                  <v-file-input
                                    v-model="userStore.editedUser.files"
                                    :rules="[
                                              value => {
                                                return !value || 
                                                      !value.length || 
                                                      value[0].size < 2000000 || 
                                                      'Avatar size should be less than 2 MB!'
                                              }
                                            ]"
                                    accept="image/png, image/jpeg"
                                    label="Avatar"
                                    placeholder="Pick an avatar"
                                    prepend-icon="mdi-camera"
                                  ></v-file-input>
                                </v-col>

                              </v-row>
                            </v-container>
                          </v-form>
                          <small>*indicates required field</small>
                        </v-card-text>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn color="blue-darken-1" variant="text" @click="closeDialog()">
                            Close
                          </v-btn>
                          <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                    <v-dialog v-model="dialogDelete" max-width="500px">
                      <v-card>
                        <v-card-title class="text-h5"
                          >Are you sure you want to delete this item?</v-card-title
                        >
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn color="blue-darken-1" variant="text" @click="closeDelete"
                            >Cancel</v-btn
                          >
                          <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm"
                            >OK</v-btn
                          >
                          <v-spacer></v-spacer>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-toolbar>
                </template>

                <template v-slot:[`item.actions`]="{ item }">
                  <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
                  <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
                </template>
                <template v-slot:[`item.image`]="{ item }">
                  <v-img :src="'http://localhost:3000/images/users/' + item.image" width="100"></v-img>
                </template>
                <template v-slot:no-data>
                  <v-btn color="primary" @click="userStore.getUsers"> Reset </v-btn>
                </template>
              </v-data-table-virtual>
            </div>
          </v-sheet>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
.BG-img {
  width: 100vw;
  height: 100vh;
  background-image: url('/Photo/logo/background-pos.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
