<script setup lang="ts">
import router from '@/router'
import CreditView from '@/views/CreditView.vue'

function showCredit() {
  router.push('/credit')
}
</script>
<template>
  <v-footer style="bottom: 0; background-color: #424242">
    <div
      style="
        padding-left: 45%;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
      "
    >
      <strong>D-Coffee</strong> — JoWebPro
    </div>
    <v-spacer></v-spacer>
    <div class="mr-12">
      <v-icon
        icon="mdi-information-outline"
        @click="showCredit()"
        style="text-align: left; color: white"
      ></v-icon>
    </div>
  </v-footer>
</template>
