<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'

import { ref, provide } from 'vue'
import type { VForm } from 'vuetify/components'

const form = ref(false)
const email = ref('admin@email.com')
const password = ref('Pass@1234')
const visible = ref(false)

const authStore = useAuthStore()
const refForm = ref<VForm | null>(null)
provide('email', email)
provide('password', password)
// function onSubmit(email: string,password: string) {
//   authStore.checkUser(email,password)
// }
const onSubmit = async () => {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  authStore.login(email.value, password.value)
}
const required = (v: string) => {
  return !!v || 'Field is required'
}

// async function handleSignIn() {
//   const authenticationResult = await onSubmit(email.value, password.value)
//   if (authenticationResult) {
//     router.push('pos')
//   }
// }
</script>

<template>
  <v-form ref="refForm" v-model=form @submit.prevent="onSubmit">
    <v-container style="background-color: black">
      <video class="video" autoplay loop>
        <source src="/Photo/logo/coffee-beans_background.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      <v-row style="padding-bottom: 25%">
        <v-card class="mx-auto px-6 py-4 customCard" width="400" elevation="8" rounded="xl">
          <h1 style="text-align: center">Login</h1>
          <div class="text-subtitle-1 text-medium-emphasis">Username</div>

          <v-text-field
            v-model="email"
            density="compact"
            placeholder="Email"
            prepend-inner-icon="mdi-account"
            variant="outlined"
            :rules="[required]"
          >
          </v-text-field>

          <div
            class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between"
          >
            Password
            <a
              class="text-caption text-decoration-none text-blue"
              href="#"
              rel="noopener noreferrer"
              target="_blank"
              style="display: flex; justify-content: space-between"
            >
              Forgot login password?</a
            >
          </div>

          <v-text-field
            v-model="password"
            :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'"
            :type="visible ? 'text' : 'password'"
            density="compact"
            placeholder="Enter your password"
            prepend-inner-icon="mdi-lock-outline"
            variant="outlined"
            @click:append-inner="visible = !visible"
            :rules="[required]"
          >
          </v-text-field>

          <div style="margin: 10px; width: 40%">
            <label style="display: flex; align-items: center">
              <input type="checkbox" style="margin-right: 8px; width: 20px; height: 20px" />
              Remember me
            </label>
          </div>

          <v-btn
            class="btn"
            width="100%"
            :disabled="!form" 
            block
            size="large"
            variant="elevated"
            type="submit"
          >
            Sign In
          </v-btn>

          <div class="register-link" style="margin-top: 10px">
            <p>
              Don't have an account?
              <a href="#" style="text-decoration: none; color: black">Register</a>
            </p>
          </div>
        </v-card>
      </v-row>
    </v-container>
  </v-form>
</template>

<style scoped>
.btn {
  appearance: none;
  /* background-color: transparent; */
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  font-family:
    Roobert,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
  will-change: transform;
}

.btn:disabled {
  pointer-events: none;
}

.btn:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}
.btn2:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.customCard {
  margin-top: 15%;
  background: transparent;
  border: 3px solid rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(30px);
}
</style>@/stores/user@/stores/user