<script setup lang="ts">
import { RouterLink, RouterView, useRoute } from 'vue-router'

import { ref } from 'vue'
import { provide } from 'vue'
import LoadingDialog from './components/LoadingDialog.vue'
import MessageBox from './components/MessageBox.vue'
import MainLayout from './layouts/MainLayout.vue'
import FullLayout from './layouts/FullLayout.vue'
const rail = ref(true)
const drawer = ref(true)

provide('rail', rail)
provide('drawer', drawer)
const route = useRoute()
const isLoginView = route.name === 'login'
</script>

<template>
  <component :is="route.meta.layout === 'MainLayout' ? MainLayout : FullLayout"></component>
  <LoadingDialog></LoadingDialog>
  <MessageBox></MessageBox>
</template>

<style>
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #733331;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #817276;
  border-radius: 20px;
}
</style>
