<script setup lang="ts">
import MainAppBar from '@/components/MainAppBar.vue'
import MainMenu from '@/components/MainMenu.vue'
</script>
<template>
  <v-layout class="rounded rounded-md" style="flex-direction: column" width="1280px" height="720px">
    <MainAppBar></MainAppBar>
    <MainMenu style="padding-top: 1%"></MainMenu>

    <v-main class="d-flex align-center justify-center" style="min-height: 720px">
      <router-view></router-view>
    </v-main>

    <!-- <MainFooter></MainFooter> -->
  </v-layout>
</template>
